ConfigFile(
    music_directory: Some("~/Music/"),
    lyrics_dir: Some("~/Music/"),
    mpd_host: "127.0.0.1",
    mpd_port: 6600,
    seek_step: 5,
    volume_step: 2,
    show_album_art: true,

    cava: (
        framerate: 60, // default 60
        autosens: true, // default true
        sensitivity: 100, // default 100
        //lower_cutoff_freq: 50, // not passed to cava if not provided
        //higher_cutoff_freq: 10000, // not passed to cava if not provided
        input: (
            method: Fifo,
            source: "/tmp/mpd.fifo",
            //sample_rate: 44100,
            //channels: 2,
            //sample_bits: 16,
        ),
        smoothing: (
            noise_reduction: 77, // default 77
            monstercat: true, // default false
            waves: false, // default false
        ),
        // this is a list of floating point numbers thats directly passed to cava
        // they are passed in order that they are defined
        eq: [],
    ),
    tabs: TabsFile([
        (
            name: "Queue",
            pane: Split(
                direction: Vertical,
                panes: [
                    (
                        size: "100%",
                        borders: BordersFile("NONE"),
                        pane: Split(
                            borders: BordersFile("NONE"),
                            direction: Horizontal,
                            panes: [
                                (
                                    size: "70%",
                                    borders: BordersFile("ALL"),
                                    pane: Split(
                                        direction: Vertical,
                                        panes: [
                                            (
                                                size: "50%",
                                                borders: BordersFile("ALL"),
                                                pane: Pane(Queue),
                                            ),
                                            (
                                                size: "50%",
                                                borders: BordersFile("ALL"),
                                                pane: Pane(Cava),
                                            ),
                                        ],
                                    ),
                                ),
                                (
                                    size: "30%",
                                    borders: BordersFile("NONE"),
                                    pane: Split(
                                        direction: Vertical,
                                        panes: [
                                            (
                                                size: "75%",
                                                borders: BordersFile("ALL"),
                                                pane: Pane(AlbumArt),
                                            ),
                                            (
                                                size: "25%",
                                                borders: BordersFile("NONE"),
                                                pane: Split(
                                                    direction: Vertical,
                                                    panes: [
                                                        (
                                                            size: "100%",
                                                            borders: BordersFile("NONE"),
                                                            pane: Pane(Lyrics),
                                                        ),
                                                    ],
                                                ),
                                            ),
                                        ],
                                    ),
                                ),
                            ],
                        ),
                    ),
                ],
            ),
        ),
        (
            name: "Directories",
            pane: Split(
                direction: Horizontal,
                panes: [
                    (
                        size: "100%",
                        borders: BordersFile("ALL"),
                        pane: Pane(Directories),
                    ),
                ],
            ),
        ),
        (
            name: "Artists",
            pane: Split(
                direction: Horizontal,
                panes: [
                    (
                        size: "100%",
                        borders: BordersFile("ALL"),
                        pane: Pane(Artists),
                    ),
                ],
            ),
        ),
        (
            name: "Album Artists",
            pane: Split(
                direction: Horizontal,
                panes: [
                    (
                        size: "100%",
                        borders: BordersFile("ALL"),
                        pane: Pane(AlbumArtists),
                    ),
                ],
            ),
        ),
        (
            name: "Albums",
            pane: Split(
                direction: Horizontal,
                panes: [
                    (
                        size: "100%",
                        borders: BordersFile("ALL"),
                        pane: Pane(Albums),
                    ),
                ],
            ),
        ),
        (
            name: "Playlists",
            pane: Split(
                direction: Horizontal,
                panes: [
                    (
                        size: "100%",
                        borders: BordersFile("ALL"),
                        pane: Pane(Playlists),
                    ),
                ],
            ),
        ),
        (
            name: "Search",
            pane: Split(
                direction: Horizontal,
                panes: [
                    (
                        size: "100%",
                        borders: BordersFile("ALL"),
                        pane: Pane(Search),
                    ),
                ],
            ),
        ),
        (
            name: "Browser",
            pane: Split(
                direction: Horizontal,
                panes: [
                    (
                        size: "100%",
                        borders: BordersFile("ALL"),
                        pane: Pane(Browser(root_tag: "Artist")),
                    ),
                ],
            ),
        ),
        (
            name: "Lyrics",
            pane: Split(
                direction: Horizontal,
                panes: [
                    (
                        size: "100%",
                        borders: BordersFile("ALL"),
                        pane: Pane(Lyrics),
                    ),
                ],
            ),
        ),
    ]),
)
